<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <!--配置程序集名称与命名空间的名称-->
    <add key="AssemblyPath" value="DataDal"/>
    <add key="NameSpace" value="DataDal"/>
  </appSettings>

  <!--配置数据连接-->
  <connectionStrings>
    <add name="strConn" connectionString="Data Source=.;Initial Catalog=Company;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>